.chat-rooms {
  border-right: 1px solid #ccc;
}

.chat-messages {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  height: 600px;
  overflow-y: auto;
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  word-wrap: break-word;
  max-width: 50%;
}

.message.your-message {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  /* float: right; */
  align-self: flex-end;
  margin-right: 0;
}

.message.sender-message {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  margin-left: 0;
  /* float: left; */
  align-self: flex-start;
}
