html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

#header {
  width: 100vw;
  position: relative;
}

.navbar-icon {
  font-size: 1.75rem;
  margin-right: 0.3rem;
}

.user-image {
  width: 2rem;
  margin-right: 0.3rem;
}

#headerNav a.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-menu a.nav-link {
  text-align: left;
  color: gray;
}

#add-student,
.table-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.table-icon:hover {
  color: #5F5F5F;
}

.student-status {
  font-size: 1rem;
  color: gray;
}

.student-status.active {
  color: green;
}

#add-student-btn {
  float: right;
  padding-right: 0;
}

a.nav-link.active {
  font-weight: bold;
}

#navbarNav a.nav-link:hover {
  color: black;
}

table,
th,
td {
  border: 0.125rem solid;
  text-align: center;
  border-collapse: collapse;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0.125rem solid #000;
  font-weight: bold;
}

.page-link {
  color: gray;
}

/* Style for mobile */
@media only screen and (max-width: 35rem) {
  .col-9 {
    max-width: 100%;
  }
}

.dropdown-menu {
  margin-left: 1.5rem;
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: orange;
  animation: 0.9s infinite blink;
  transform-origin: center;
  margin-bottom: 1.2rem;
  margin-left: 0.75rem;
  position: absolute;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ------  Notification Dropdown --------  */

.notification-dropdown {
  min-width: 20rem;
}

.notification-dropdown,
.connection-dropdown,
.nav-user-dropdown {
  padding: 0rem;
  margin: 0rem;
}

.notification-title {
  font-size: 0.9rem;
  color: #3d405c;
  text-align: center;
  padding: 0.5rem 0rem;
  border-bottom: 0.0625rem solid #e3e3e3;
  line-height: 1.5;
  background-color: #fffffe;
  font-weight: bold;
}

.notification-list .list-group-item {
  border-radius: 0rem;
  padding: 0.75rem;
  margin-top: -0.0625rem;
  border-left: transparent;
  border-right: transparent;
}

.notification-list .list-group-item.active {
  z-index: 2;
  color: #3d405c;
  background-color: #f7f7fb;
  border-color: #e1e1e7;
}

.notification-list .list-group-item-action:focus,
.list-group-item-action:hover {
  color: #404040;
  text-decoration: none;
  background-color: #f7f7fb;
}

.notification-info .notification-date {
  display: block;
  font-size: 0.7rem;
  margin-top: 0.25rem;
  text-transform: uppercase;
  color: #71748d;
}

.notification .dropdown-toggle::after,
.connection .dropdown-toggle::after,
.nav-user .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border: none;
}

.notification-list-user-img {
  float: left;
  margin-right: 1.25rem;
}

.notification-list-user-block {
  padding-left: 3.125rem;
  font-size: 0.875rem;
  line-height: 1.3rem;
}

.notification-list-user-name {
  color: #5969ff;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}

.list-footer,
.conntection-footer {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  padding: 0.625rem 0rem;
  line-height: 1.5;
  font-weight: 700;
  border-bottom-left-radius: 0.19rem;
  border-bottom-right-radius: 0.19rem;
}

.list-footer a,
.conntection-footer a {
  color: #fff;
}

.list-footer a:hover,
.conntection-footer a:hover {
  color: #fff;
}

.fa-times {
  font-size: 1.5rem;
}

.page-link:hover {
  color: black;
}

